/*acabar com os espaçamentos assim a div pode ocupar maior espaço*/
html, body {
    margin: 0;

}

#imagem_fundo {
    background: url("fundo.jpg"); /* imagem de fundo*/
    height: 100%; /*Ocupação da qualquer tela em 100% */
    text-align: center; /*porque o titulo e o subtitulo estão aqui dentro dessa div, assim evita repetição*/
    background-size: cover; /* vai preencher*/
    padding-bottom: 10%;
    
}

/* h1 */
#titulo {
    color: white;
    padding-top: 10%;  /* espaçamento do topo será de 20% */
    font-size: 70px; /*Tamanho da letra */
    line-height: 0.6;
    margin-top: 0;
    
}

/* h2 */
#subtitulo {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10%;
    border-top: 3px solid white;
    text-shadow: 1px 1px  black;
}
#acao {
    color: white;
    border: 1px white solid;
    padding: 10px 20px 10px 20px;
}


.icone{
    width: 51px; /*tamanho da minha imagem*/
}

/* Quero que se aplica todas as minhas sections */
section{
    padding: 10%;
    float: left; /*porque precisa ser empilhado para esquerda, assim como na classe coluna*/
}

.destaque{
    background-color: rgb(165, 157, 157);
    
}

.imgEco{
    width: 90%; /* ocupará 80% da tela */
    height: 30%; /*as imagens terão 100% do tamanho*/

}

.coluna{
    float: left ; /*O conteúdo será fluído - nesse caso à esquerda*/
    padding: 0 5%;
    position: relative; /*varia com elemento vem anteriormente*/
}

/* Deixar os dois elementos numa mesma linha */
.cDois{
    width: 40%; /*As divs que tiverem essa classe ocuparam 40% da tela*/
}

/* Deixar os quatros elementos numa mesma linha */
/*colocar divs nos conteudos que eu quero o conteúdo*/
.cQuatro{
    width: 15%;
}

.cTres{
    width: 29%;
    padding: 0 2%;
}

.justificado{
    text-align: justify;
}

.centralizado{
    text-align: center;
}

